<div class="field">
  <label class="label">Childs First Name</label>
  <div class="control">
    <input class="input" type="text" value="{{childfname}}" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">Childs Surname Name</label>
  <div class="control">
    <input class="input" type="text" value="{{childsurname}}" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" value="{{email}}" placeholder="e.g. alexsmith@gmail.com">
  </div>
</div>
