    <div class="card is-6">
        <div class="card-header">
            <div class="card-header-title">
                {{childfname}}
            </div>
        </div>
        <div class="card-content">
        Parent {{adultfname}}
        Child {{childfname}}
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
        </div>
</div>
